.search-breadcrumb-only .breadcrumb{
    margin-top: -40px;
    margin-bottom: -20px;
    font-family: "Agency FB";
    font-size: x-large;
}
.header-button {
    margin-top: -30px;
    margin-bottom: -20px;
}
.row{
    margin-top: 15px;
}
.table-hover tbody {
    background-color: #dddddd;
}
#clientTable .icon {
    font-size: 17px;
}
#clientTable a {
    padding-right: 10px;
}