.search-breadcrumb-only .breadcrumb{
    margin-top: -50px;
    margin-bottom: -5px;
    font-family: "Agency FB";
    font-size: x-large;
}
.index-button {
    margin-top: -50px;
    margin-bottom: -5px;
}
.row{
    margin-top: 15px;
}
.table-hover tbody {
    background-color: #dddddd;
}
#client-table .icon {
    font-size: 18px;
}
#client-table a {
    padding-right: 10px;
}